@page "/modal"

<h1>Modal</h1>

<button class="btn" @onclick="@OnShowModalClick">Show modal</button>

<Modal IsVisible="@isModalOpen">
    <a class="close" @onclick="@OnCloseClick">&times;</a>
    <h2>Hello</h2>
    <p>Test</p>
</Modal>

@code {
    bool isModalOpen = false;

    void OnShowModalClick(UIMouseEventArgs ev)
    {
        isModalOpen = true;
    }

    private void OnCloseClick(UIMouseEventArgs ev)
    {
        isModalOpen = false;
    }
}