@import "W3.Base.scss";

@import "Components/Components.scss";

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.content {
    margin: 0 16px 0 16px;
}

.show {
    display: block !important;
}
