@page "/button"

<h1>Button</h1>

<button class="btn">Enabled</button>

<button class="btn" disabled>Disabled</button>

<h2>Colors</h2>

<button class="btn default">Default</button>

<button class="btn success">Success</button>

<button class="btn info">Info</button>

<button class="btn warning">Warning</button>

<button class="btn danger">Danger</button>

<h2>Hover shadow</h2>

<button class="btn default shadow">Hover</button>
