@page "/navbar"

<h1>Nav Bar</h1>

<NavBar>
    <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <SubNav>
        <Content>
            <button class="subnavbtn">Categories <i class="fa fa-caret-down"></i></button>
        </Content>
        <ChildContent>
            <a href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
        </ChildContent>
    </SubNav>
    <DropButton Text="Company">
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
    </DropButton>
    <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
</NavBar>