@namespace W3.UI.Components

@if (IsVisible)
{
    <div class="modal">

        <!-- Modal content -->
        <div class="content">
            @ChildContent
        </div>

    </div>
}

@code {
    [Parameter]
    private bool IsVisible { get; set; }

    [Parameter]
    private RenderFragment ChildContent { get; set; }
}