@page "/tabgallery"

<h1>TabGallery</h1>

<TabGallery>
    <TabGalleryItem Title="Lights">
        <img src="img/img_lights_wide.jpg" style="width:100%">
    </TabGalleryItem>
    <TabGalleryItem Title="Mountains">
        <img src="img/img_mountains_wide.jpg" style="width:100%">
    </TabGalleryItem>
    <TabGalleryItem Title="Nature">
        <img src="img/img_nature_wide.jpg" style="width:100%">
    </TabGalleryItem>
    <TabGalleryItem Title="Snow">
        <img src="img/img_snow_wide.jpg" style="width:100%">
    </TabGalleryItem>
</TabGallery>