@inherits LayoutComponentBase

<NavBar>
   <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        <span class="fa fa-home" aria-hidden="true"></span> Home
    </NavLink>
    <DropButton Text="Components">
        <NavLink href="button">Button</NavLink>
        <NavLink href="card">Card</NavLink>
        <NavLink href="dropbutton">DropButton</NavLink>
        <NavLink href="loader">Loader</NavLink>
        <NavLink href="modal">Modal</NavLink>
        <NavLink href="navbar">NavBar</NavLink>
        <NavLink href="table">Table</NavLink>
        <NavLink href="tabset">TabSet</NavLink>
    </DropButton>
    <a class="nav-link" href="https://github.com/robertsundstrom/w3-ui" target="_blank">
        <span class="fa fa-github" aria-hidden="true"></span> GitHub repo
    </a>
</NavBar>

<div class="content">
    @Body
</div>