@page "/sidenav"

<SideNav IsOpen="@IsSideNavOpen" Animate="@Animate">
    <a class="closebtn" @onclick="@OnCloseClick">&times;</a>
    <NavLink href="/sidenav">Home</NavLink>
    <NavLink href="/sidenav">Contact</NavLink>
</SideNav>

<h1>SideNav</h1>

<button class="btn black" @onclick="@OnOpenClick">
    <i class="fa fa-bars"></i> Open menu
</button>

<label for="Animate">Animate</label>
<input name="Animate" type="checkbox" @bind="Animate" />

@code {
    [Parameter]
    public bool IsSideNavOpen { get; set; }

    [Parameter]
    public bool Animate { get; set; }

    private void OnOpenClick(MouseEventArgs ev)
    {
        IsSideNavOpen = true;
    }

    private void OnCloseClick(MouseEventArgs ev)
    {
        IsSideNavOpen = false;
    }
}