@namespace W3.UI.Components

<div id="mySidenav" class="sidenav @(Animate ? "animate" : null)" style="@(IsOpen ? "width: 250px" : "width: 0")">
    @ChildContent
</div>

@code {
    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public bool Animate { get; set; } 

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}