.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */

    @extend .success;
}

.btn:hover {
    @extend .success, :hover;
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.btn  {
    .shadow :hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}

.green {
    background-color: #4CAF50;
}

.blue {
    background-color: #008CBA;
}

.red {
    background-color: #f44336;
}

.gray {
    background-color: #e7e7e7;
    color: black;
}

.black {
    background-color: #111;
}