.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.green {
    background-color: #4CAF50;
}

.blue {
    background-color: #008CBA;
}

.red {
    background-color: #f44336;
}

.gray {
    background-color: #e7e7e7;
    color: black;
}

.black {
    background-color: #555555;
}
