body {
  margin: 0;
}

a.close {
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.btn.black {
  background-color: black;
  color: white;
}

/* Green */
.btn.black:enabled:hover {
  background-color: #000000e8;
  color: white;
}

